$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$darkcyan: hsl(179, 100%, 13%);
$twhite: hsla(0, 0%, 100%, 0.75);
$lgrey: hsl(0, 0%, 95%);

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}
* {
    box-sizing: border-box;
    font-family: "Big Shoulders Display", Arial, sans-serif;
}
main {
    @include flex(column);
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 1px);
    aside { 
        font-size: 13px; 
        text-align: center; 
        margin-top: 10px;
    }
    aside a {
        color: hsl(228, 45%, 44%);
    }
article {
    width: 280px;
    position: relative;
    .section1 {
        background-color: $orange;
        padding: 40px;
        height: 350px;
        border-radius: 10px 10px 0 0;
        img {
            height: 35px;
            width: 55px;
        }
        h2 {
            color: $lgrey;
            text-transform: uppercase;
        }
        p {
            color: $twhite;
            font-size: 15px;
        }
        button {
            text-align: center;
            padding: 8px 25px;
            background-color: $lgrey;
            border: 2px solid $lgrey;
            border-radius: 20px;
            transition: 0.3s;
            &:hover {
                background-color: $orange;
                border: 2px solid $lgrey;
            }
            &:hover a{
                color: $lgrey;
            }
        }
        button a {
            text-decoration: none;
            color: $orange
        }
    }
    .section2 {
        @extend .section1;
        background-color: $cyan;
        border-radius: 0;
        button {
            color: $cyan;
            &:hover {
                background-color: $cyan;
            }
        }
        button a {
            color: $cyan;
        }
    }
    .section3 {
        @extend .section1;
        background-color: $darkcyan;
        border-radius: 0 0 10px 10px;
        button {
            color: $darkcyan;
            &:hover {
                background-color: $darkcyan;
            }
        }
        button a {
            color: $darkcyan;
        }
    }
}
}
@media screen and (min-width: 600px) {
    main {
        article {
            @include flex(row);
            justify-content: center;
            align-items: center;
            width: calc(100vw - 10%);
            .section1 {
                border-radius: 10px 0 0 10px;
                button {
                    margin-top: 10px;
                }
            }
            .section2 {
                border-radius: 0;
            }
            .section3 {
                border-radius: 0 10px 10px 0;
            }
        }
    }
}
@media screen and (min-width: 992px) {
    main {
    article {
        @include flex(row);
        justify-content: center;
        align-items: center;
        width: calc(100vw - 50%);
        height: calc(100vh - 40%);
        .section1 {
            height: 100%;
            border-radius: 10px 0 0 10px;
            button {
                margin-top: 50px;
            }
        }
        .section2 {
            border-radius: 0;
        }
        .section3 {
            border-radius: 0 10px 10px 0;
        }
    }
}
}