* {
  box-sizing: border-box;
  font-family: "Big Shoulders Display", Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 1px);
}
main aside {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}
main aside a {
  color: hsl(228deg, 45%, 44%);
}
main article {
  width: 280px;
  position: relative;
}
main article .section1, main article .section3, main article .section2 {
  background-color: hsl(31deg, 77%, 52%);
  padding: 40px;
  height: 350px;
  border-radius: 10px 10px 0 0;
}
main article .section1 img, main article .section3 img, main article .section2 img {
  height: 35px;
  width: 55px;
}
main article .section1 h2, main article .section3 h2, main article .section2 h2 {
  color: hsl(0deg, 0%, 95%);
  text-transform: uppercase;
}
main article .section1 p, main article .section3 p, main article .section2 p {
  color: hsla(0deg, 0%, 100%, 0.75);
  font-size: 15px;
}
main article .section1 button, main article .section3 button, main article .section2 button {
  text-align: center;
  padding: 8px 25px;
  background-color: hsl(0deg, 0%, 95%);
  border: 2px solid hsl(0deg, 0%, 95%);
  border-radius: 20px;
  transition: 0.3s;
}
main article .section1 button:hover, main article .section3 button:hover, main article .section2 button:hover {
  background-color: hsl(31deg, 77%, 52%);
  color: hsl(0deg, 0%, 95%);
  border: 2px solid hsl(0deg, 0%, 95%);
}
main article .section1 button:hover a, main article .section3 button:hover a, main article .section2 button:hover a {
  color: hsla(0deg, 0%, 100%, 0.75);
}
main article .section1 button a, main article .section3 button a, main article .section2 button a {
  text-decoration: none;
  color: hsl(31deg, 77%, 52%);
}
main article .section2 {
  background-color: hsl(184deg, 100%, 22%);
  border-radius: 0;
}
main article .section2 button {
  color: hsl(184deg, 100%, 22%);
}
main article .section2 button:hover {
  background-color: hsl(184deg, 100%, 22%);
}
main article .section3 {
  background-color: hsl(179deg, 100%, 13%);
  border-radius: 0 0 10px 10px;
}
main article .section3 button {
  color: hsl(179deg, 100%, 13%);
}
main article .section3 button:hover {
  background-color: hsl(179deg, 100%, 13%);
}

@media screen and (min-width: 600px) {
  main article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 10%);
  }
  main article .section1, main article .section2, main article .section3 {
    border-radius: 10px 0 0 10px;
  }
  main article .section1 button, main article .section2 button, main article .section3 button {
    margin-top: 10px;
  }
  main article .section2 {
    border-radius: 0;
  }
  main article .section3 {
    border-radius: 0 10px 10px 0;
  }
}
@media screen and (min-width: 992px) {
  main article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 50%);
    height: calc(100vh - 40%);
  }
  main article .section1, main article .section2, main article .section3 {
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
  main article .section1 button, main article .section2 button, main article .section3 button {
    margin-top: 50px;
  }
  main article .section2 {
    border-radius: 0;
  }
  main article .section3 {
    border-radius: 0 10px 10px 0;
  }
}/*# sourceMappingURL=index.css.map */